* text eol=lf

# images
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary

# media
*.mov binary
*.mp4 binary
*.mp3 binary
*.flv binary
*.fla binary
*.swf binary
*.ogv binary

# archives
*.gz binary
*.zip binary
*.7z binary

# fonts
*.eot binary
*.ttf binary
*.otf binary
*.woff binary
*.woff2 binary

# windows
*.exe binary
